<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
    RewriteCond %{REQUEST_URI} ^/local-to-hosting/resources/views/home\.blade\.php$
    RewriteRule ^(.*)$ https://sditarridho.info [L,R=301]
</IfModule>
